@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root {
  --background: #303030;
  --foreground: #ededed;
  --primary: #0d9488;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Syne", Arial, Helvetica, sans-serif;
}

.text-stroke {
  -webkit-text-stroke: 0.5px var(--foreground);
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
